---
import Logo from "./Logo.astro";
import CartIcon from "./CartIcon.svelte";
---

<header id="mainHeader" class="absolute top-0 z-40 w-full transition-all duration-300">
<nav class="w-full flex justify-between px-4 py-4">
  <div>"icon"</div>
  <div>"logo"</div>
  <!-- you can put multiple icons here as per the design, replicate in the scrolledheader -->
  <div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</nav>
</header>

<header id="scrolledHeader" class="fixed top-0 z-40 w-full transition-all duration-300 bg-white translate-y-[-100%]">
<nav class="w-full flex justify-between px-4 py-4">
  <div>"icon"</div>
  <div>"logo"</div>
  <div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</nav>
</header>

<script>
  const scrolledHeader = document.getElementById('scrolledHeader');
  
  window.addEventListener('scroll', () => {
    if (window.scrollY > 200) 
    {
      scrolledHeader?.classList.remove( 'translate-y-[-100%]');
    } 
      
    else {
      scrolledHeader?.classList.add( 'translate-y-[-100%]');    
    }
  });
</script>
