---
import type { z } from "zod";
import type { ProductResult } from "../utils/schemas";

import ShopifyImage from "./ShopifyImage.svelte";
import Money from "./Money.svelte";

export interface Props {
  product: z.infer<typeof ProductResult>;
}
const { product } = Astro.props as Props;
---

<a
  href={`/products/${product?.handle}`}
  class="group overflow-hidden"
>
  <div class="relative">
    <ShopifyImage
      classList=""
      loading="eager"
      image={product?.featuredImage}
      sizes={`
      (min-width: 1540px) 348px,
      (min-width: 1280px) 284px,
      (min-width: 1040px) 309px,
      (min-width: 780px) 348px,
      (min-width: 640px) 284px,
      calc(100vw - 48px)
    `}
    />
    
  </div>
  <div class="flex flex-col justify-between py-2 text-zinc-700">
    <h3 class="font-primary font-bold" >{product?.title}</h3>
    <p class="font-primary">
      <Money price={product?.variants.nodes[0].price} />
    </p>
  </div>
</a>
