---
import type { z } from "zod";
import type { ProductResult } from "../utils/schemas";

export interface Props {
  description: string;
}

const { description } = Astro.props as Props;

const accordions = [
  {
    title: "Description",
    content: description,
  },
  {
    title: "Shipping information",
    // icon: "truck",
    content:
      "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam possimus fuga dolor rerum dicta, ipsum laboriosam est totam iusto alias incidunt cum tempore aliquid aliquam error quisquam ipsam asperiores! Iste?",
  },
  // {
  //   title: "Care instructions",
  //   icon: "care",
  //   content:
  //     "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam possimus fuga dolor rerum dicta, ipsum laboriosam est totam iusto alias incidunt cum tempore aliquid aliquam error quisquam ipsam asperiores! Iste?",
  // },
];
---

<div class="grid">
  {
    accordions.map((accordion, index) => (
      <details
        class:list={[
          "group border-b border-zinc-200",
        ]}
      >
        <summary class="flex cursor-pointer items-center justify-between py-3 px-4 text-zinc-700 transition-colors">
          <div class="flex items-center gap-2 uppercase">
            {accordion.title}
          </div>
          <span class="transition-transform duration-200 group-open:rotate-180">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-4 w-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              />
            </svg>
          </span>
        </summary>
        <div class="overflow-hidden">
          <div class="p-4 text-sm text-zinc-600">{accordion.content}</div>
        </div>
      </details>
    ))
  }
</div>