---
export interface Props {
  color?: "black" | "white";
}

const { color = "black" } = Astro.props;
const colorClass = color === "white" ? "text-white" : "text-black";
---

<svg
  class={`h-8 w-8 ${colorClass}`}
  aria-hidden="true"
  focusable="false"
  role="presentation"
  viewBox="0 0 64 64"
  xmlns="http://www.w3.org/2000/svg"
>
  <title>icon-bag-minimal</title>

  <!-- Bag body -->
  <rect
    x="11.375"
    y="17.863"
    width="41.25"
    height="36.75"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
  />

  <!-- Bag handle -->
  <path
    d="M22.25 18c0-7.105 4.35-9 9.75-9s9.75 1.895 9.75 9"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
  />
</svg>